  <article>

    @if (!dealSearchService.dealSnapshotCollection()) {
      <p class="no-deals">No deals found.</p>
    } @else {
      <table>
        <thead>
          <th>Ticket No</th>
          <th>Deal Type</th>
          <th>Buy/Sell</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Deal Status</th>
          <th>Commodity</th>
          <th>Company</th>
          <th>Counterparty</th>
          <th>Overrides</th>
        </thead>
        <div>
          @if (dealSearchService.showPrev()) {
            <button type="button" id="toprev" (click)="dealSearchService.prev()">Prev</button>
          }
          @if (dealSearchService.showNext()) {
            <button type="button" id="topnext" (click)="dealSearchService.next()">Next</button>
          }
        </div>

        <tbody >
        @if (dealSearchService.dealSnapshotCollection()) {
          @for (deal of dealSearchService.dealSnapshotCollection()!.snapshots; track deal.entityId!.id) {
            <tr (click)="onEdit(deal!.entityId!.id!, deal!.dealTypeValue!)">
              <td> {{deal.dealDetail!.ticketNo}}</td>
              <td>{{ deal.dealTypeValue }}</td>
              <td> {{ deal.dealDetail!.buySellCodeValue }} </td>
              <td>{{ deal.dealDetail!.startDate }}</td>
              <td>{{ deal.dealDetail!.endDate }}</td>
              <td> {{ deal.dealDetail!.dealStatusCodeValue }} </td>
              <td> {{ deal.dealDetail!.commodityCodeValue }} </td>
              <td>{{ deal.companyRoleId!.code }}</td>
              <td>{{ deal.counterpartyRoleId!.code }}</td>
              <td><a routerLink="../{{deal.entityId!.id}}/overrides/list"  > Overrides </a> </td>
            </tr>
          }
        }
        </tbody>
        <div>
          @if (dealSearchService.showPrev()) {
            <button type="button" id="toprev" (click)="dealSearchService.prev()">Prev</button>
          }
          @if (dealSearchService.showNext()) {
            <button type="button" id="topnext" (click)="dealSearchService.next()">Next</button>
          }
        </div>

      </table>
    }
  </article>
