<div class = "input-group" >
  <p>
    <label for="ticketNo">Ticket No</label>
    <input [readonly]="true" type="text" id="ticketNo" name="ticketNo" [(ngModel)]="deal()!.dealDetail!.ticketNo"/>
  </p>
  <p>
    <label for="dealType">Deal Type</label>
    <input [readonly]="true" type="text" id="dealType" name="dealType" [(ngModel)]="deal()!.dealTypeValue"/>
  </p>
</div>
<div class = "input-group" >
  <p>
    <label for="commodity">Commodity</label>
    <input [readonly]="true" type="text" id="commodity" name="commodity" [(ngModel)]="deal()!.dealDetail!.commodityCodeValue"/>
  </p>

  <p>
    <label for="dealStatus">Deal Status</label>
    <input [readonly]="true" type="text" id="dealStatus" name="dealStatus" [(ngModel)]="deal()!.dealDetail!.dealStatusCodeValue"/>
  </p>
</div>
<div class = "input-group" >
  <p>
    <label for="company">Company</label>
    <input [readonly]="true" type="text" id="company" name="company" [(ngModel)]="deal()!.companyRoleId!.code"/>
  </p>

  <p>
    <label for="counterparty">Counterparty</label>
    <input [readonly]="true" type="text" id="counterparty" name="counterparty" [(ngModel)]="deal()!.counterpartyRoleId!.code"/>
  </p>
</div>
<div class = "input-group" >
  <p>
    <label for="startDate">Start Date</label>
    <input [readonly]="true" type="text" id="startDate" name="startDate" [(ngModel)]="deal()!.dealDetail!.startDate"/>
  </p>

  <p>
    <label for="endDate">End Date</label>
    <input [readonly]="true" type="text" id="endDate" name="endDate" [(ngModel)]="deal()!.dealDetail!.endDate"/>
  </p>
</div>
<div class = "input-group" >
  <p>
    <label for="volume">Quantity (Volume)</label>
    <input [readonly]="true" type="number" id="volume" name="volume" [(ngModel)]="deal()!.dealDetail!.volumeQuantity"/>
  </p>

  <p>
    <label for="uomfrequency"> Vol UoM / Freq</label>
    <input [readonly]="true" type="text" id="uomfrequency" name="uomfrequency" value="{{volumeUoMAndFrequencyComputed()}}"/>
  </p>
</div>
