<article>
  <h2>Deal Overrides for Deal # {{dealSnapshot?.dealDetail?.ticketNo}}</h2>

  @if (!formReady() || !dealOverrideSnapshotCollection) {
    <p class="no-deals">No deal overrides found.</p>
  } @else {
    <table>
      <thead>
      <th>Override Date</th>
      @for (heading of dealOverrideSnapshotCollection.headings; track heading) {
        <th>{{ heading }}</th>
      }
      </thead>
      <div>
        @if (showPrev) {
          <button type="button" id="toprev" (click)="onPrev()">Prev</button>
        }
        @if (showNext) {
          <button type="button" id="topnext" (click)="onNext()">Next</button>
        }
      </div>

      <tbody >
        @if (dealOverrideSnapshotCollection) {
          @for (dayOverride of dealOverrideSnapshotCollection.snapshots; track dayOverride.overrideDate) {
            <tr>
              <td> {{dayOverride.overrideDate | date : 'mediumDate'}}</td>
              @for (value of dayOverride.values; track $index) {
                <td>{{ value | number : '1.2-2' }}</td>
              }
              <td> <a routerLink="/deals/{{dealId()}}/overrides/edit" [queryParams]="{monthDate: dayOverride.overrideDate}" class="action-item" *kaHasRoles="['view-deals']">Edit Days in Month</a></td>
              <td> <a routerLink="/deals/{{dealId()}}/hourlyoverrides/edit" [queryParams]="{dayDate: dayOverride.overrideDate}" class="action-item" *kaHasRoles="['view-deals']">Edit Hours in Day</a></td>
            </tr>
          }
        }
      </tbody>
      <div>
        @if (showPrev) {
          <button type="button" id="bottomnext" (click)="onPrev()">Prev</button>
        }
        @if (showNext) {
          <button type="button" id="bottomprev" (click)="onNext()">Next</button>
        }
      </div>
    </table>
    <button type="button" id="bottomprev" (click)="onClose()">Close</button>

  }
</article>
