<article>
  <h2>Price Indices</h2>
  <div class="actions">
    <i class="action-item">{{priceIndexSearchService.searchCriteria()}}  </i>
    <button class="action-item" (click)="startSearch()" type="button"><u><b>Search</b></u></button>
    <button class="action-item" (click)="onToggleShowSearch()" type="button"><u><b>{{showSearchLabel()}}</b></u></button>
    <a routerLink="/priceIndices/edit" class="action-item" *kaHasRoles="['view-deals']">New</a>
  </div>

  @if (showSearchFields()) {
    <app-price-index-search (close) = "onClose()"/>
  }



  @if (!priceIndexCollection) {
    <p class="no-snapshots">No price indices found.</p>
  } @else {
    <table>
      <thead>
      <th>Name</th>
      <th>Index Type</th>
      <th>Location</th>
      <th>Description</th>
      <th>Currency</th>
      <th>Unit of Measure</th>
      <th>Frequency</th>
      <th>Bench Settlement Rule</th>
      <th>Benchmark Index</th>
      <th>Base Index</th>
      </thead>
      <div>
        @if (showPrev) {
          <button type="button" id="toprev" (click)="onPrev()">Prev</button>
        }
        @if (showNext) {
          <button type="button" id="topnext" (click)="onNext()">Next</button>
        }
      </div>
      <tbody >
        @for (priceIndexSnapshot of priceIndexCollection!.snapshots; track priceIndexSnapshot.entityId!.id) {
          @let entityId = priceIndexSnapshot.entityId!.id!;
          <tr (click)="onSelected(entityId)">
            <td><a [routerLink]="'../edit'" [queryParams]="{priceIndexId: entityId}" > {{ priceIndexSnapshot!.detail!.name }} </a> </td>
            <td>{{ priceIndexSnapshot!.detail!.indexTypeValue }}</td>
            <td>{{ priceIndexSnapshot!.pricingLocationId!.code}}</td>
            <td>{{ priceIndexSnapshot!.detail!.description }}</td>
            <td>{{ priceIndexSnapshot!.detail!.currencyCodeValue }}</td>
            <td>{{ priceIndexSnapshot!.detail!.unitOfMeasureCodeValue }}</td>
            <td>{{ priceIndexSnapshot!.detail!.frequencyCodeValue }}</td>
            <td>{{ priceIndexSnapshot!.detail!.benchSettlementRuleCodeValue }}</td>
            <td>{{ priceIndexSnapshot!.benchIndexId?.code}}</td>
            <td>{{ priceIndexSnapshot!.baseIndexId?.code}}</td>
          </tr>
        }
      </tbody>
      <div>
        @if (showPrev) {
          <button type="button" id="bottomnext" (click)="onPrev()">Prev</button>
        }
        @if (showNext) {
          <button type="button" id="bottomprev" (click)="onNext()">Next</button>
        }
      </div>
    </table>
  }
</article>

