<nav class="menu">

  <div class="actions">
    @if (!authenticated()) {
      <a routerLink="/" class="action-item">Home</a>
      <button class="action-item" (click)="login()">Login</button>
    } @else {
      <a routerLink="/deals"  class="action-item" >Deals</a>
      <a routerLink="/pricing" class="action-item" >Pricing</a>
      <a routerLink="/fx" class="action-item" >Foreign Exchange (F/X)</a>
      <a routerLink="/interestrates" class="action-item" >Interest Rates</a>
      <a routerLink="/organizations" class="action-item" >Organizations</a>
      <a routerLink="/jobs" class="action-item" >Jobs</a>
      <button class="action-item" (click)="logout()">Logout</button>
    }
  </div>
</nav>
