<article>
  <h2>Deal Positions</h2>
  <div class="actions">
    <i class="action-item">{{positionSearchService.searchCriteria()}}  </i>
    <button class="action-item" (click)="onShowSearch()" type="button"><u><b>Search</b></u></button>
    <button class="action-item" (click)="onDownloadPositions()" type="button"><u><b>download positions</b></u></button>
    <a routerLink="/jobs/edit"[queryParams]="{jobTypeCode: 'DealPositionGeneration'}" class="action-item" *kaHasRoles="['view-deals']">Generate Positions</a>
    <a routerLink="/jobs/edit"[queryParams]="{jobTypeCode: 'DealPositionValuation'}" class="action-item" *kaHasRoles="['view-deals']">Value Positions</a>
  </div>

  @if (showSearchFields()) {
    <app-position-search (search) = "onClose()" (cancel)="onSearchCancel()"/>
  }

  <div>
    <button class="action-item" (click)="setToAll()" type="button"><u><b>Default View</b></u></button>
    <button class="action-item" (click)="setToPhysicalDeals()" type="button"><u><b>Physical Deal View</b></u></button>
    <button class="action-item" (click)="setToFinancialSwaps()" type="button"><u><b>Financial Swap View</b></u></button>
  </div>

  @switch (positionSearchService.searchDealTypeFilter()) {
    @case ('default') {
      <app-default-positions-list/>
    }
    @case ('PhysicalDeal') {
      <app-physical-positions-list/>
    }
    @case ('FinancialSwap') {
      <app-financial-swap-positions-list/>
    }
  }
</article>
